.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__friends {
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen__friends-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
  0%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes scale {
  form {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

#splash-screen {
  background: var(--red);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen img {
  width: 300px;
  height: 300px;
  animation: scale 1.5s ease-in-out;
}
